RewriteEngine On
ErrorDocument 404 /fhorenky/404.html
ErrorDocument 500 /fhorenky/401.html
ErrorDocument 403 /fhorenky/403.html
ErrorDocument 400 /fhorenky/401.html
ErrorDocument 401 /fhorenky/401.html

Options -Indexes

<Files ~ "\.txt$">
Order allow,deny
Deny from all
</Files>