.scrollable {
	overflow-y: auto;
}

.txt-bg-f2f2f2 {
	background-color: #f2f2f2!important;
}

.tr-hover-bg-purple td {
	color: #ffffff;
	background-color: purple!important;
}

.font-color-dark-blue {color: #000099!important;}

.font-size-6 {font-size: 6px;}
.font-size-8 {font-size: 8px;}
.font-size-10 {font-size: 10px;}
.font-size-11 {font-size: 11px;}
.font-size-12 {font-size: 12px;}
.font-size-14 {font-size: 14px;}

.text-indent-32 {text-indent: 32px;}

.vh-99 { height: 99vh; }
.vh-98 { height: 98vh; }
.vh-97 { height: 97vh; }
.vh-96 { height: 96vh; }
.vh-95 { height: 95vh; }
.vh-94 { height: 94vh; }
.vh-93 { height: 93vh; }
.vh-92 { height: 92vh; }
.vh-91 { height: 91vh; }
.vh-90 { height: 90vh; }

.cursor-hand {cursor: pointer;}

.mx-w-100 {max-width: 100px;}

.border-bottom-width-0 {border-bottom-width: 0!important;}

.border-top-dotted {
	border-top-style: dotted;
	border-top-width: 1px;
}

.bg-color-ffff99 {background-color: #ffff99;}
.bg-color-66ff99 {background-color: #66ff99;}

/** Navbar **/
#main-logo {
	max-height: 68px;
	transition: 0.4s;
}

/** Slick **/
/** Slick Start **/
.slick-prev {
    left: 25px;
    z-index: 1;
}

.slick-next {
    right: 25px;
}

.slick-prev, .slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	display: block;
	width: 20px;
	height: 20px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	z-index: 2;
}

.slick-prev:before {
	content: '←';
}

.slick-next:before {
	content: '→';
}

.slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots {
	position: absolute;
	bottom: 25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	z-index: 1;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:before {
	font-family: 'slick';
	font-size: 58px;
	line-height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 12px;
	text-align: center;
	content: '';
	opacity: .25;
	background-color: #000;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #000;
}

.slick-frontbanner {
	border: unset;
	background-color: transparent;
}

.slick-frontbanner h2, 
.slick-frontbanner h3, 
.slick-frontbanner h4, 
.slick-frontbanner h5, 
.slick-frontbanner h6, 
.slick-frontbanner p {
	color: #fff;
	text-shadow: 0 0 8px #000, 0 0 8px #000;
}

.slick-frontbanner .card, 
.slick-frontbanner .card-img-top {
	border: unset;
	border-radius: unset;
}

.slick-frontbanner img.card-img-top {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/** Data Table **/

.table tr:hover {
	cursor: pointer;
}

#listRecView tfoot tr td.remove-dropdown select, 
#listRecView tfoot tr td.remove-dropdown input, 
#listRecView thead tr th.remove-dropdown select, 
#listRecView thead tr th.remove-dropdown input {
	display: none;
}

/** Theme Style **/

.layer-present-feature {
	background-color: rgb(26, 26, 26, .2);
	background-image: linear-gradient(100deg, rgba(22, 22, 22, .9), rgba(0, 0, 0, .7), transparent);
}

.logo-hero-overlay-head {
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: scroll;
	background-size: 78%;
	background-position-y: 130px;
	background-position-x: 200%;
}

.feat-present {
	margin: auto 4% auto 4%;
	border: 12px solid #fff;
	border-radius: 12px;
	background-color: #fff;
}

#feat-present-slick-slider .slider-for, 
#feat-present-slick-slider .slider-nav {
	margin: auto 8% auto auto;
}

.feat-present video {
	border-radius: 12px;
}

.feat-msg {
	margin: auto auto auto 4%;
	padding-top: 62px;
}

.feat-msg h5, 
.feat-msg p {
	text-shadow: 0 0 6px #000, 0 0 2px #000;
}

#feat-present-slick-slider .slider-nav .slick-dots {
	bottom: -12px;
}

.feat-thumbimg {
	width: 95%;
	height: 80px;
	background-color: #fff;
	margin: 8px;
}